.env
asr/sherpa-ncnn-streaming-zipformer-bilingual-zh-en-2023-09-30
sensitive_video_part/
**/__pycache__/
__pycache__
asr/sherpa-ncnn-streaming-zipformer-bilingual-zh-en-2023-09-30.zip
venv/
.venv/

asr/whisper/
asr/faster-distil-whisper-large-v3/
asr/faster-whisper-base/
asr/whisper-base/

match/variant_match/.pycorrector